@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');


header {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
}

.logo-header {
    grid-area: 1 / 3;
    text-align: center;
    font-family: 'Permanent Marker', cursive, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: inherit;
}

nav {
    grid-area: 1 / 5 ;
    margin: auto;
    text-align: center;
}

nav a{
    color: inherit;
    text-decoration: inherit;
    font-family: 'Permanent Marker', cursive, Arial, Helvetica, sans-serif;
    margin-left: 10px;
}

