<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Orioak</title>

    <link rel="stylesheet" href="/public/style/style.css">
</head>
<body>
    <header>
        <a  class="logo-header" href="/public/index.html">
            <h1>Orioak by Orinoco</h1>
        </a>
        <nav>
            <a href="/public/index.html">Nos Produits</a>
            <a href="/public/views/panier.html">Panier</a>
        </nav>
    </header>
    <section class="slogan-banner">
        <h1>Une envie de déco ?<br>Nous avons le meuble qu'il vous faut !</h1>
    </section>
    <main>
        <h2>Ma commande</h2>

    </main>
</body>
</html>