<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Orioak</title>
    <link rel="icon" type="image/png" href="/images/favicon.PNG" />

    <link rel="stylesheet" href="/public/style/style.css">
</head>
<body>
    <header>
        <a  class="logo-header" href="index.html">
            <h1>Orioak by Orinoco</h1>
        </a>
        <nav>
            <a href="index.html">Nos Produits</a>
            <a href="panier.html">Panier</a>
        </nav>
    </header>
    <section class="slogan-banner">
        <h1>Une envie de déco ?<br>Nous avons le meuble qu'il vous faut !</h1>
    </section>
    <main>
        <h2>Mon Panier</h2>

    </main>
</body>
</html>